body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background: url(black.jpg);
    background-position: center;
    background-size: auto;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 1.5em;
}

.poll-item {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.name {
    font-weight: bold;
    font-size: 1.2em;
}

.comment-box {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    color: #555;
    display: flex;            /* Use flexbox for vertical layout */
    flex-direction: column;  /* Arrange comments vertically */
}

.comment {
    margin: 5px 0;          /* Add spacing between comments */
}
strong {
    color: black;
    margin-bottom: 2px; /* Set text color to black */
}